@import url("constants.css");
@import url("utility.css");

.search-bar {
	height: 70px;
	width: 80%;
}

.search-bar > input[type="text"] {
	padding: 1em;
}

.search-bar > * {
	margin: 1em;
}

.display-box, .history-box {
	width: 100%;
	margin: 10px 0px;
}

.display-box {
	background-color: white;
}

.display-box > * {
	margin: 10px;
	border: 2px solid var(--secondary-color);
	padding: 10px;
	width: 50%;
	background-color: white;
}

.history-box > * { 
	margin: 10px;
	padding: 10px;
	width: 50%;
	background-color: white;
	border: 2px solid black;
}

.search-result {
	width: 70%;
}

.search-history {
	width: 30%;
/*	height: 100vmax;*/
	border: 2px solid var(--secondary-color);
}

.search-result, .search-history { 
}

.page-btn {
	min-height: 3em;
	min-width: 5em;
	background-color: var(--secondary-color);
	border: 2px solid black;
	border-radius: 8px;
}

.hisdd